@import "partials/colors";
@import "partials/desktop-view";
@import "partials/typography";

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}


@media only screen and (max-width: 48rem){
body {
  background: green;
}

}

@media only screen and (max-width: 64rem){

}

@media only screen and (max-width: 100rem){

}