$color-1: #106262; // Dark Blue
$color-2: #c5e1e1; // Powder Blue 
$color-3: #FAA26B; // Atomic Tangerine
$color-4: #FDD9C3; // Apricot Pink
$color-5: #F88512; // Bright Orange
$color-6: #f9af53; // Yellow Orange
$color-7: #fffbea; // Corn Silk

$color-8: #FFCF49; //Accent Yellow

// additional colors  //color: darken($color-3, 20%);

$success: #6fce72; // green
$alert: $color-3; // red
