@import "_typography.scss";



@media only screen and (min-width: 48rem) {
  body {
    background: #FFFFFF;
    font-family: $primary-font;
  }


  #zen-summary {
    p:first-child {
      padding: 1.5rem;
      line-height: 200%;
      
      &::before {
        top: 3rem;
        left: -3.5rem;
        font-size: 8em;
      }

      &::after {
        bottom: -1rem;
      }
    }
    p:nth-child(2) {
      font-size: 1rem;
    }
  }

  .summary * {
    text-align: center;
    font-size: 1.2rem;
  }

  .preamble,
  .participation,
  .requirements {
    text-align: left;

    p {
      &::after {
        content: "";
        border-top: 2px dotted $color-4;
        width: 50%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .explanation,
  .benefits {
    text-align: right;
  }

  .wrapper {
    background-image: url("images/record.png");
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: -701px 0px;
      &::after {
        display: none;
      }
  }

  //GRID FORMATTING
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "intro intro"
      "sidebar main";
  }

  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, max-content);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "summary preamble";
    grid-area: intro;

    &::after {
      content: '';
      height: 150px;
      grid-column: 1 / 3;
      background-color: lighten($color-2, 5%);
    }
  }



  .summary {
    grid-area: summary;
    align-self: center;
    padding: 2rem 6rem;
  }

  .preamble {
    grid-area: preamble;
  }

  header {
    grid-area: header;
    h1 {
      padding: 25px 0px;
    }
    h2 {
      position: absolute;
      top: 730px;
      left: 420px;
    }
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(350px, max-content);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "explanation"
      "participation"
      "benefits"
      "requirements"
      "footer";
    grid-area: main;
  }

  .explanation {
    grid-area: explanation;
  }

  .participation {
    grid-area: participation;
  }

  .benefits {
    grid-area: benefits;
    margin: 2rem 1rem 1rem -98%;
  }

  .requirements {
    grid-area: requirements;
    margin: 2rem 1rem 1rem -98%;
    column-count: 2;
    column-width: 300px;
    column-gap: 30px;
    max-width: 60rem;
    justify-self: center;
    h3 {
      column-span: all;
    }
    &::after {
      content: '';
      height: 100px;
      width: 100px;
      background-color: $color-4;

    }

  }

  footer {
    align-items: flex-end;
    grid-area: footer;
    margin: 0 0 0 -100%;

  }

  .sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "wrapper";
    grid-area: sidebar;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "design-selection"
      "design-archives"
      "zen-resources";
    grid-area: wrapper;
    position: static;
  }

  .design-selection {
    grid-area: design-selection;
    border-radius: 0px 500px 0px 0px;
    align-items: center;
  }

  .design-archives {
    grid-area: design-archives;
    border-radius: 0px 0px 500px 0px;

    align-items: center;
  }

  .zen-resources {
    grid-area: zen-resources;
  }
}

@media only screen and (min-width: 64rem) {
  .requirements  {
    column-count: 3;
    column-width: 200px;
  }
  
}

