@import "_typography.scss";


@media only screen and (min-width: 48rem) {
  body {
    background: white;
  }

  header {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 1rem 2rem;
    h1 {
      padding: 0px;
    }
    h2 {
      align-self: flex-end;
    }
  }

  #zen-summary {
   // margin: 2rem;
    p:first-child {
      line-height: 200%;
      
      &::before {
        top: 3rem;
        left: -3.5rem;
        font-size: 8em;
      }

      &::after {
        bottom: -1rem;
      }
    }
    p:nth-child(2) {
      font-size: 1rem;
    }
  }

  .summary {
    grid-area: summary;
    align-self: center;
    padding: 4rem 4rem;
    text-align: center;
    font-size: 1rem;
    background-image: url("images/test-bkgd.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    max-height: 365px;
    // background-color: lighten($color-2, 5%);
    // border: 4px solid #F86308;
    // border-radius: 10px;
    margin: auto;
  }

  .preamble,
  .participation,
  .requirements {
    text-align: left;

    p {
      &::after {
        content: "";
        border-top: 2px dotted $color-4;
        width: 50%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .explanation,
  .benefits {
    text-align: right;
  }

  //GRID FORMATTING
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "intro intro"
      "sidebar main";
  }

  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, max-content);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "summary preamble";
    grid-area: intro;

  }

  .preamble {
    grid-area: preamble;
  }

  header {
    grid-area: header;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(350px, max-content);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "explanation"
      "participation"
      "benefits"
      "requirements"
      "footer";
    grid-area: main;
  }

  .explanation {
    grid-area: explanation;

  }

  .participation {
    grid-area: participation;
    &::before {
      content: '';
      height: 150px;
      width: 100%;
      grid-column: 1 / 3;
      background-color: lighten($color-2, 5%);
    }
  }

  .benefits {
    grid-area: benefits;
    margin: 2rem 1rem 1rem -98%;
  }

  .requirements {
    grid-area: requirements;
    column-count: 2;
    column-width: 250px;
    column-gap: 30px;
    padding: 6rem;
    justify-self: center;
    margin-left: -100%;
    
    h3 {
      column-span: all;
      margin-top: 0;
    }
    & p:first-of-type {
      margin-top: 0;
    }
   /* &::after {
      content: '';
      height: 100px;
      width: 100px;
      background-color: $color-4;
    }
    */
  }

  footer {
    align-items: flex-end;
    grid-area: footer;
    margin: 0 0 0 -100%;

  }

  .sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "wrapper";
    grid-area: sidebar;
    
  }
  .wrapper {
    background-image: none;
    position: absolute;
    overflow: hidden;
    &::before{
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url("images/record.png") ;
      width: 100%;
      height: 200%;
      background-repeat: no-repeat;
      background-size: 1500px;
      background-position: -701px 0px;
      &:active{
        transform: rotate(30deg);
        transition:transform .3s ease-in-out
      }
    }
      &::after {
        display: none;
      }
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:25vmin 40vmin 25vmin;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "design-archives"
      "design-selection"
      "zen-resources";
    grid-area: wrapper;
    position: static;
    margin-top: 5rem;
    width: 100%;
    &:hover{
      transform: scale(1.01);
      transition: transform .1s ease-in-out;
      cursor: pointer;
    }
    
  }

  .design-selection {
    grid-area: design-selection;
    border-radius: 0px 500px 0px 0px;
    align-items: center;
    transform: translate(13rem, 0rem);
  }

  .design-archives {
    grid-area: design-archives;
    border-radius: 0px 0px 500px 0px;
    transform: translate(8rem, -1rem);
    align-items: center;
  }

  .zen-resources {
    grid-area: zen-resources;
    transform: translate(8rem, -1rem);
  }
}

@media only screen and (min-width: 64rem) {
  .requirements  {
    column-count: 3;
    column-width: 200px;
  }

  #zen-summary {
    p:first-child {
      padding: 0 4rem 1rem 4rem;
      
      &::before {
        top: 2rem;
        left: 0rem;
      }

      &::after {
        right: 3rem;
      }
    }
  }

  .summary * {
    font-size: 1.2rem;
  }
  
}

