@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

$primary-font: "Roboto", sans-serif;
$secondary-font: "Lobster", cursive;

h3, h4{
  font-family: $secondary-font;
  color: darken($color-3, 20%);
  font-size: 2rem;
}

.intro h2 {
  margin: 1rem 0 2rem;
  padding: 0 1rem;
  color: darken($color-3, 20%);
  font-size: 1.5rem;
}

abbr[title] {
  text-decoration: none;
}

header {
  text-align: center;
}

h1 {
  margin: 1rem;
  font-size: 3rem;
  font-family: $secondary-font;
  color: $color-5;
  text-shadow: 3px 3px $color-8, 6px 6px $color-2, 9px 9px $color-1;
}

p {
  font-size: 1rem;
}


// media queries
@media only screen and (min-width: 48rem) {
  
  h1 {
    font-size: 6rem;
    text-shadow: 5px 5px $color-8, 10px 10px $color-8, 15px 15px $color-2, 20px 20px #98C2C2, 25px 25px $color-1;
  }

  h3 {
    font-size: 2.5rem;
  }

  .intro h2 {
    margin: 2rem;
  }
}

@media only screen and (min-width: 64rem) {
  
  h1 {
    font-size: 8rem;
  }

  p {
    line-height: 150%;
  }

}

section > h2::before {
  /* number before each section title */
  color: darken($color-4, 15%);
}

p {
  color: $color-1;

  a {
    color: darken($color-3, 20%);
    text-decoration: none;
    font-weight: bold;
  }

  //@include MQ(S) {
  //font-size: 1.6rem;
  //line-height: 1.6;
  //}
}

footer {
  a {
    color: $color-5;
    font-weight: bold;
  }
}
