@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap');

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Lobster', cursive;

h1,
h2, 
h3{
  font-family: $secondary-font;
  color: darken($color-4, 20%);
}

h1 {
  margin: 1rem;
}

h2 {
  text-transform: uppercase;
  padding: 0 1rem;
}

section > h2::before {
  /* number before each section title */
  color: darken($color-4, 15%);
}

p {
  
  color: $color-1;

  a {
    color: $color-2;
    text-decoration: none;
  }

  a:first-of-type {
    color: $color-2;
  }

  //@include MQ(S) {
    //font-size: 1.6rem;
    //line-height: 1.6;
  //}
}