@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap");

$primary-font: "Roboto", sans-serif;
$secondary-font: "Lobster", cursive;

h1, h3, h4{
  font-family: $secondary-font;
  color: darken($color-4, 20%);
  font-size: 1.5rem;
}

.intro h2 {
  margin: -1rem 0 2rem;
  padding: 0 1rem;
  color: darken($color-4, 20%);
  font-size: 2em;
}

header {
  text-align: center;
}

h1 {
  margin: 1rem;
  font-size: 2.4rem;
  text-shadow: 3px 3px #c5e1e1, 6px 6px #687f53;
}


// media queries
@media only screen and (min-width: 48rem) {
  
  h1 {
    font-size: 6rem;
    text-shadow: 3px 5px #c5e1e1, 8px 10px #687f53;
  }

  .intro h2 {
    margin: 2rem;
  }
}

@media only screen and (min-width: 64rem) {
  
  h1 {
    font-size: 8rem;
  }
  

}

section > h2::before {
  /* number before each section title */
  color: darken($color-4, 15%);
}

p {
  color: $color-1;

  a {
    color: $color-2;
    text-decoration: none;
  }

  a:first-of-type {
    color: $color-2;
  }

  //@include MQ(S) {
  //font-size: 1.6rem;
  //line-height: 1.6;
  //}
}
