@import "partials/colors";
@import "partials/typography";
@import "partials/prefix-mixins";
@import "partials/basic-style";
@import "partials/desktop-view";

//.page-wrapper {
//display: grid;
//grid-template-columns: 1fr;
//}

body {
  background: $color-5;
  font-family: $primary-font;
}

h1,
h2,
h3,
h4 {
  font-family: $secondary-font;
}

@media only screen and (max-width: 48rem) {
  h1,
  h2,
  h3 {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 64rem) {
}

@media only screen and (max-width: 100rem) {
}
