@import "partials/colors";

@import "partials/prefix-mixins";
@import "partials/layout";
@import "partials/basic-style";
@import "partials/desktop-view";
@import "partials/animations";
@import "partials/typography";

@media only screen and (max-width: 48rem) {
  body {
    background: #ffffff;
    font-family: $primary-font;
  }

}

@media only screen and (min-width: 48rem) {
  body {
    max-width: 1200px;
  }

}

@media only screen and (max-width: 100rem) {

}
