$color-1: #687f53; // Green Fern - Action color
$color-2: #c5e1e1; // Powder Blue
$color-3: #fa9583; // Vivid Tangerine
$color-4: #f9af53; // Yellow Orange
$color-5: #fff8dd; // Corn Silk

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red
